$DarkShade100: hsl(238, 35%, 19%, 100%);
$DarkShade75: hsl(238, 35%, 19%, 75%);
$DarkShade50: hsl(238, 35%, 19%, 50%);
$DarkShade25: hsl(238, 35%, 19%, 25%);
$DarkShade5: hsl(238, 35%, 19%, 5%);
$Purple: #BC9CFF;
$Green: #6FCF97;

$white: #fff;
$black: #000;