@import 'fonts';
@import 'vars';
@import 'vendor/reset.scss';

@import 'mixins';


*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7;
    color: $DarkShade100;
    background-color: $white;
}

input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

@import 'blocks/container';
@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/subnav';
@import 'blocks/button';
@import 'blocks/main';
@import 'blocks/form';
@import 'blocks/footer';
@import 'blocks/copyright';
@import 'blocks/search-room';
@import 'blocks/rooms';
@import 'blocks/sidebar';
@import 'blocks/menu';
@import 'blocks/counter';
@import 'blocks/calendar';
@import 'blocks/burger';
@import 'blocks/range-slider';
@import 'blocks/check-boxs';