.btn {
    display: inline-block;
    vertical-align: top;
    padding: 0.84em 1.67em;

    text-decoration: none;

    border: none;
    cursor: pointer;
    border-radius: 2.2rem;

    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;

    transition: transform .1s linear
}

.btn--singin {
    color: $Purple;
    background-color: $white;
    border: 2px solid;

    transition: opacity .2s linear;

    &:hover {
        opacity: 0.5;
    }
}

.btn--singup {
    margin-left: 2rem;

    color: $white;
    background: linear-gradient(#BC9CFF, #8BA4F9);
    transition: opacity .2s linear;

    &:hover {
        opacity: 0.5;
    }
}

.btn--find {
    position: relative;
    width: 100%;

    text-align: center;
    font-weight: 700;

    padding: 1.285em 1.67em;


    color: $white;
    background: linear-gradient(#BC9CFF, #8BA4F9);

    transition: opacity .2s linear;

    &:hover {
        opacity: 0.5;
    }

}