.btn {
    display: inline-block;
    vertical-align: top;
    padding: 0.84em 1.67em;

    text-decoration: none;

    border: none;
    cursor: pointer;
    border-radius: 2.2rem;
    box-shadow: 0 4px 4px rgba($black, .25);

    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;

    transition: transform .1s linear
}

.btn--singin {
    color: $Purple;
    background-color: $white;
    border: 2px solid;

    &:hover {
        transform: scale(1.1);
    }
}

.btn--singup {
    margin-left: 2rem;

    color: $white;
    background: linear-gradient(#BC9CFF, #8BA4F9);

    &:hover {
        transform: scale(1.1);
    }
}