.check-boxs {

    &__input {
        display: none;
    }

    &__fake {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;

        position: relative;

        border: 1px solid $DarkShade25;
        background-color: $white;
        border-radius: 4px;

        &::before {
            content: "";
            display: block;

            position: absolute;
            top: 50%;
            left: 50%;


            width: 100%;
            height: 100%;

            background: url('../images/icons/check.svg') center no-repeat;

            transform: translate(-50%, -50%);

            opacity: 0;

            transition: .1s ease-in-out;

        }

    }

    &__input:checked+.check-boxs__fake::before {
        opacity: 1;
    }

    &__input:checked+.check-boxs__fake {
        border: 1px solid $Purple;
    }


    &__text {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: $DarkShade50;

        &--fwb {
            font-weight: 700;
            color: $DarkShade75;
        }
    }
}

.radio-boxs {
    display: flex;
    align-items: center;
    margin-right: 2rem;

    &__input {
        display: none;
    }

    &__fake {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;

        position: relative;

        border: 1px solid $DarkShade25;
        background-color: $white;
        border-radius: 50%;

        &::before {
            content: "";
            display: block;

            position: absolute;
            top: 50%;
            left: 50%;


            width: 1.2rem;
            height: 1.2rem;

            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-radius: 50%;

            transform: translate(-50%, -50%);

            opacity: 0;

            transition: .1s ease-in-out;

        }

    }

    &__input:checked+.radio-boxs__fake::before {
        opacity: 1;
    }

    &__input:checked+.radio-boxs__fake {
        border: 1px solid $Purple;
    }


    &__text {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: $DarkShade50;

        &--cdarken {
            color: $DarkShade75;
        }
    }
}

.switch-boxs {
    position: relative;
    display: block;

    width: 4rem;
    height: 2rem;

    margin-right: 1rem;

    &__input {
        display: none;
    }

    &__fake {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        cursor: pointer;

        background-color: $white;
        border: 1px solid $DarkShade25;
        border-radius: 34px;

        transition: .4s;

        &::before {
            position: absolute;
            content: "";
            height: 1.2rem;
            width: 1.2rem;
            left: .3rem;
            bottom: .3rem;
            background: $DarkShade25;

            transition: transform .3s ease;

            border-radius: 50%;
        }

    }

    &__input:checked+.switch-boxs__fake::before {
        transform: translateX(2rem);
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }

    &__input:checked+.switch-boxs__fake {
        border: 1px solid $Purple;
    }



    &__text {
        line-height: 2.4rem;
        color: $DarkShade75;
    }
}