.container {
    max-width: 120rem;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoint($mobile-bp) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}