.copyright {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        min-height: 7rem;

        @include breakpoint($footernone-bp) {

            height: 36.7rem;
            flex-direction: column;
            justify-content: center;

        }
    }

    &__logo {
        display: none;

        @include breakpoint($footernone-bp) {

            display: block;

        }
    }


    &__text {
        font-size: 1.4rem;
        font-weight: 400;
        color: $DarkShade75;
        text-align: center;
    }
}

.social {
    display: flex;

    @include breakpoint($footernone-bp) {

        margin-top: 2.5rem;

    }


    &__item {
        margin-left: 2rem;

        transition: transform .2s linear;

        &:hover {
            transform: scale(1.1);
        }
    }

}