.more-info {
    display: flex;
    justify-content: space-between;

    margin-bottom: 7rem;

    @include breakpoint($footernone-bp) {
        margin-bottom: 2rem;
        padding: 0 2rem;
    }

    @include breakpoint($smallmobile-bp) {
        margin-bottom: 1rem;
        padding: 0;
    }


    &__rules {
        width: 50%;

        margin-right: 7rem;

        @include breakpoint($smallmobile-bp) {
            margin-right: 1rem;
        }
    }

    // .more-info__title

    &__title {

        margin-bottom: 2rem;

        font-weight: 700;
        font-size: 1.9rem;
        line-height: 2.3rem;
        color: $DarkShade100;

        &--pdl {
            padding-left: 2rem;
        }

        @include breakpoint($smallmobile-bp) {
            margin-bottom: 1rem;

        }
    }

    // .more-info__cancel

    &__cancel {
        width: 50%;
    }

    // .more-info__text

    &__text {

        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: $DarkShade75;
    }
}

.rules-list {

    // .rules-list__item

    &__item {
        position: relative;
        margin-bottom: 1rem;
        padding-left: 2rem;

        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: $DarkShade75;

        &::before {
            content: "";
            display: block;
            width: 1rem;
            height: 1rem;

            border-radius: 50%;
            background: $DarkShade25;

            position: absolute;
            top: .6rem;
            left: 0;
            z-index: 1;

        }

        @include breakpoint($smallmobile-bp) {
            margin-bottom: .5rem;

        }
    }
}