.price {
    margin-top: 2rem;
}

.price-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1rem;
    // .price-item__title

    &__title,
    &__value {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: $DarkShade75;

        &--lh {
            line-height: 1.8rem;
        }
    }


    &__more {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        cursor: pointer;

        &--mg {
            margin-left: 2.5rem;
        }
    }

    // .price-item__value

    &__value {
        width: 20%;
        text-align: right;
    }

    &__result {
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;
    }
}

.result {
    position: relative;

    &__title,
    &__value {
        font-weight: 700;
        font-size: 1.9rem;
        line-height: 2.3rem;
    }


    &__underline {
        position: absolute;
        top: 1.6rem;
        left: 6rem;

        width: 18.2rem;

        border: 1px dashed $DarkShade25;
    }
}