.range-slider {
    width: 26.6rem;

    // .range-slider__value

    &__value {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .range-slider__title

    &__title {
        width: 50%;
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: 700;
        color: $DarkShade100;
        text-transform: uppercase;
    }

    // .range-slider__progress

    &__progress {
        margin-top: 2rem;
        height: 5px;

        position: relative;
        top: 1px;
        background: $white;

        border: 1px solid $DarkShade25;
        border-radius: 3px;
    }

    // .range-slider__footer

    &__footer {
        margin-top: 1rem;

        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.4rem;
        color: $DarkShade50;
    }
}

.value {



    &__min::-webkit-outer-spin-button,
    &__max::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }


    &__input {
        width: 5rem;

        background: none;
        border: none;

        text-align: right;
        text-transform: uppercase;
        font-family: inherit;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: $DarkShade50;

        &-minus {
            text-transform: uppercase;
            font-family: inherit;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.5rem;
            color: $DarkShade50;
        }

    }

}


.progress {

    // .progress__line

    &__line {
        position: absolute;

        left: 32%;
        right: 32%;
        height: 100%;

        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border-radius: 3px;

    }

    &__min {
        z-index: 1;
    }

    &__min,
    &__max {
        position: absolute;
        top: -5px;
        left: -1px;
        width: 101%;

        -webkit-appearance: none;
        pointer-events: none;
        background: none;
        outline: none;

        &::-webkit-slider-thumb {
            pointer-events: auto;
            -webkit-appearance: none;

            width: 1.2rem;
            height: 1.2rem;

            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            border-radius: 50%;
            border: 2px solid $white;
            cursor: pointer;
        }
    }

}