.room-details {

    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-top: 7rem;

        @include breakpoint($footernone-bp) {
            flex-direction: column;
            margin-top: 2rem;
        }


    }

    &__details-left {
        width: 60%;
        height: auto;

        @include breakpoint($footernone-bp) {
            width: 100%;
        }
    }

    &__details-right {
        height: auto;

        @include breakpoint($footernone-bp) {
            margin: 0 auto 2rem
        }
    }

}

.room-preview {
    display: flex;
    justify-content: center;
    height: auto;

    @include breakpoint($footernone-bp) {
        flex-wrap: wrap;
    }

    &__left,
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__right {
        @include breakpoint($footernone-bp) {
            flex-wrap: nowrap;
            flex-direction: row;
            overflow: hidden;
        }

        @include breakpoint($smallmobile-bp) {
            flex-direction: column;
        }
    }

}

.preview-photo {
    display: block;
    width: 100%;
    height: auto;
}