.room-details {

    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-top: 7rem;


    }

    &__details-left {
        width: 60%;
        height: auto;
    }

    &__details-right {
        height: auto;
    }

}

.room-preview {
    display: flex;
    justify-content: center;
    height: auto;

    &__left,
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

.preview-photo {
    display: block;
    width: 100%;
    height: auto;
}