.details-left {

    // .details-left__info

    &__info {
        display: flex;

        @include breakpoint($footernone-bp) {
            justify-content: space-around;
        }

        @include breakpoint($mobile-bp) {
            flex-wrap: wrap;
        }
    }
}

.info {

    // .info__room

    &__room {
        display: flex;
        flex-direction: column;
        margin-right: 7rem;

        @include breakpoint($tablet-bp) {
            margin-right: 0rem;
        }
    }

    // .info__room-header

    &__room-header {
        font-weight: 700;
        font-size: 1.9rem;
        line-height: 2.3rem;
        color: $DarkShade100;
    }

    // .info__room-item

    &__room-item {
        display: flex;

        margin-top: 2rem;
        padding-bottom: 1.7rem;

        border-bottom: 1px solid $DarkShade10;

        &:last-child {
            border-bottom: none;
        }

    }


    // .info__pie-header

    &__pie-header {
        margin-bottom: 2rem;

        font-weight: 700;
        font-size: 1.9rem;
        line-height: 2.3rem;
        color: $DarkShade100;
    }

    // .info__pie-content

    &__pie-content {
        display: flex;
    }
}

.room-item {

    // .room-item__logo

    &__logo {
        display: block;

        // width: 100%;
        height: auto;

        margin-right: 1rem;
    }


    // .room-item__content-head

    &__content-head {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: $DarkShade75;
    }

    // .room-item__content-main

    &__content-main {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: $DarkShade75;
    }
}

.pie-content {

    // .pie-content__pie

    &__pie {
        display: block;
        width: 100%;
        height: auto;

        margin-right: 3rem;

        @include breakpoint($smallmobile-bp) {
            margin-right: 1rem;

        }
    }

    // .pie-content__list

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    // .pie-content__list-item

    &__list-item {
        position: relative;

        padding-left: 1.5rem;

        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: $DarkShade75;

        &::before {
            position: absolute;
            top: .6rem;
            left: 0;
            z-index: 1;

            content: "";
            display: block;

            width: 1rem;
            height: 1rem;

            border-radius: 50%;
        }

        &:first-of-type::before {
            background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
            ;
        }

        &:nth-of-type(2)::before {
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        }

        &:nth-of-type(3)::before {
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        }

        &:last-of-type::before {
            background: linear-gradient(180deg, #919191 0%, #3D4975 100%);

        }
    }
}