.sidebar {
    max-width: 32rem;
    height: 135.5rem;

    &__item {
        margin-bottom: 3rem;

        &:first-child {
            margin-top: 3rem;

        }
    }

    &__item-title {
        font-size: 1.2rem;
        line-height: 1.2;
        font-weight: 700;
        color: $DarkShade100;
        text-transform: uppercase;
    }

    &__input {
        position: relative;
        margin-top: .5rem;
        margin-bottom: 2rem;
    }

    &__input-date {
        min-width: 26.6rem;
        height: 4.4rem;

        padding: 0 1.6rem;

        font-family: inherit;
        text-transform: uppercase;
        color: $DarkShade75;
        cursor: pointer;

        border: 1px solid $DarkShade25;
        border-radius: 4px;
    }

    &__input-arrow {
        position: absolute;

        top: 50%;
        right: 7rem;

        cursor: pointer;

        transform: translateY(-50%);
    }

    &__guests {
        width: 26.6rem;
        height: 4.4rem;

        padding: 0 1.6rem;

        border: 1px solid $DarkShade25;
        border-radius: 4px;

        background-color: $white;

        &::placeholder {
            color: $DarkShade25;
        }
    }



    &__rules {
        display: flex;
        flex-direction: column;
    }


    &__rules-item,
    &__rich-item {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        width: 26rem;
        cursor: pointer;
    }

    &__rich {
        display: flex;
        flex-direction: column;
        width: 26rem;
    }

}

.rich__text {
    margin-top: 0.5rem;
    margin-left: 3rem;

    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: $DarkShade50;
}

.more-comfort {
    position: relative;
    cursor: pointer;

    &__arrow {
        position: absolute;
        top: 0;
        right: 7rem;

        transition: .2s linear;

        &--show {
            transform: rotate(180deg);
        }
    }

    &:hover .more-comfort__arrow {
        transform: rotate(180deg);
    }

    &__arrow--show {
        transform: rotate(180deg);
    }

}

.more-comfort__content {
    display: none;



    &--show {
        display: block;

        animation: showBlock .5s;
    }
}