.slider {
    position: relative;
    overflow: hidden;
    max-width: 27rem;

    &::before {
        content: "";
        display: block;
        width: 15%;
        height: 100%;

        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        opacity: 0;
        transition: opacity .2s linear;
    }

    &::after {
        content: "";
        display: block;
        width: 15%;
        height: 100%;

        background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);

        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;

        opacity: 0;
        transition: opacity .2s linear;
    }

    &:hover:before {
        opacity: 1;
    }

    &:hover::after {
        opacity: 1;
    }

    &:hover .slider__btn-next {
        opacity: 1;
    }

    &:hover .slider__btn-prev {
        opacity: 1;
    }

    &:hover .slider__wrapper {
        opacity: 1;
    }

    // .slider__line

    &__line {
        display: flex;
        align-items: center;
        background-color: $white;
        transition: all 1s;
    }

    // .slider__photo

    &__photo {
        display: inline-block;
        width: 27rem;
        height: 15rem;

        border-radius: 4px 4px 0 0;

    }

    // .slider__btn-prev

    &__btn-prev {
        opacity: 0;

        position: absolute;
        top: 50%;
        left: 2%;
        z-index: 2;

        transform: translateY(-50%);

        background: none;
        border: none;

        &::before {

            content: "";
            display: block;
            height: 10px;
            width: 2px;
            background-color: $white;
            transform: rotate(45deg);
        }

        &::after {
            position: absolute;
            top: 56%;
            content: "";
            display: block;
            height: 10px;
            width: 2px;
            background-color: $white;
            transform: rotate(-45deg);
        }

    }

    // .slider__btn-next

    &__btn-next {
        opacity: 0;

        position: absolute;
        top: 50%;
        right: 2%;
        z-index: 2;

        transform: translateY(-50%);

        background: none;
        border: none;

        &::before {

            content: "";
            display: block;
            height: 10px;
            width: 2px;
            background-color: $white;
            transform: rotate(-45deg);
        }

        &::after {
            position: absolute;
            top: 56%;
            content: "";
            display: block;
            height: 10px;
            width: 2px;
            background-color: $white;
            transform: rotate(45deg);
        }


    }

    // .slider__wrapper

    &__wrapper {
        display: flex;
        column-gap: 0.4rem;

        position: absolute;
        bottom: 5%;
        right: 1.5rem;
        z-index: 2;

        opacity: 0;
    }

    // .slider__dot

    &__dot {
        width: .8rem;
        height: .8rem;

        border: 1px solid $white;
        border-radius: 50%;

        cursor: pointer;


        // .slider__dot--active

        &--active {
            background-color: $white;
        }
    }
}