.subnav {
    display: none;
    width: 13rem;

    position: absolute;
    padding: 0.5rem;

    background-color: $white;
    box-shadow: 0 4px 4px rgba($black, .25);
    border-radius: 5px;

    top: 100%;
    left: -1rem;

    // .subnav__link

    &__link {
        display: block;

        font-size: 1.4rem;
        color: $DarkShade50;

        text-decoration: none;

        &:hover {
            color: $DarkShade75;
            font-weight: 700;
        }
    }
}