<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <a href="#">
                    <img class="header__logo-title" src="assets/images/icons/logo.svg" alt="Toxin">
                </a>
            </div>
            <div class="header__controls">
                <nav class="header__nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a class="nav__link" title="О нас" href="#">О нас</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" title="Услуги" href="#">Услуги
                                <img class="nav__link-arrow" src="assets/images/icons/arrow-bottom.svg" alt="arrow"></a>
                            <ul class="subnav">
                                <li>
                                    <a class="subnav__link" href="#">Услуга 1</a>
                                </li>
                                <li>
                                    <a class="subnav__link" href="#">Услуга 2</a>
                                </li>
                                <li>
                                    <a class="subnav__link" href="#">Услуга 3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav__item nav__item--pl">
                            <a class="nav__link" title="Вакансии" href="#">Вакансии</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" title="Новости" href="#">Новости</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" title="Соглашения" href="#">Соглашения
                                <img class="nav__link-arrow" src="assets/images/icons/arrow-bottom.svg" alt="arrow"></a>
                            <ul class="subnav">
                                <li>
                                    <a class="subnav__link" href="#">Соглашение 1</a>
                                </li>
                                <li>
                                    <a class="subnav__link" href="#">Соглашение 2</a>
                                </li>
                                <li>
                                    <a class="subnav__link" href="#">Соглашение 3</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="header__button">
                    <a class="btn btn--singin" href="#">Войти</a>
                    <a class="btn btn--singup" href="#">Зарегистрироваться</a>
                </div>
            </div>

            <button class="burger" type="button">
                <span>Открыть навигацию</span>
            </button>

        </div>
    </div>
</header>