<aside class="sidebar">
    <form action="sidebar__form">
        <div class="sidebar__item">
            <h3 class="sidebar__item-title">даты пребывания в отеле</h3>
            <div class="sidebar__input">
                <input class="sidebar__input-date" type="date" value="19 авг – 23 авг" placeholder="ДД.ММ.ГГГГ">
                <img class="sidebar__input-arrow" src="assets/images/icons/arrow-bottom.svg" alt="arrow">
            </div>
            <div class="sidebar__item">
                <h3 class="sidebar__item-title">гости</h3>
                <div class="sidebar__input">
                    <input class="sidebar__guests" placeholder="Сколько гостей">
                    <img class="sidebar__input-arrow" src="assets/images/icons/arrow-bottom.svg" alt="arrow">
                </div>


            </div>
            <div class="sidebar__item">
                <h3 class="sidebar__item-title">диапазон цены</h3>
                <div class="range__slider">Здесь будет слайдер</div>

            </div>
            <div class="sidebar__item">
                <h3 class="sidebar__item-title">правила дома</h3>
                <div class="sidebar__rules">
                    <input type="checkbox" name="" id="">
                </div>

            </div>
            <div class="sidebar__item">
                <h3 class="sidebar__item-title">доступность</h3>

            </div>
            <div class="sidebar__item">
                <h3 class="sidebar__item-title">удобства номера</h3>

            </div>
            <div class="sidebar__item">
                <h3 class="sidebar__item-title">дополнительные удобства</h3>

            </div>

    </form>
</aside>